body {
    font-family: 'Anton', sans-serif;
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/1236453.jpg");
    height: 100%;
}
.game-box{
    background: #eeeeee;
    -webkit-box-shadow: 6px 5px 7px -4px rgba(0, 0, 0, 0.7);
    box-shadow: 10px 8px 10px -1px rgba(0, 0, 0, 0.7);
    border-radius: 40px;
}
#info {
 font-family: 'Montserrat', sans-serif;
}
.answer-item{
    background: rgb(223, 201, 7);
    width: 90%;
    display: inline-block;
    border-radius:8px;
    padding: 3px;
}
.text-primary{
    color: black !important;
}
.text-info{
    color: black !important;
    font-family: 'Anton' , sans-serif;
}
.btn-primary:hover {
    background-color: lightgray;
    
}
.btn-primary {
    color: #fff;
    background-color: black;
    border-color: white;
}
#btn-start{
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background: black;
    font:bold 40px;
	color:#fff;
}
#code-title{
    text-align: center;
    font-family: 'Anton', sans-serif;
}
#scoresArea h1 {
    font-family: 'Anton' , sans-serif;
}